/* Stili generali della pagina */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Open Sans', sans-serif;
}

/* Stili header */
/* Contenitore principale header */
.header_container {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header a {
    text-decoration: none;
    padding: 15px;
    color: black;
    font-size: 15px;
}

/* Side of header */
.marketing-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.help-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-right: 30px;
}

/* Dropbox logo header */
#logo_header {
    margin: 10px;
}

/* Button blue setup */
.bgblue_button {
    padding: 8px 12px;
    background-color: #0061ff;
    color: white;
    border: 0;
}

/* PRIMA Sezione sotto l'header con il bg azzurro */
.bgblue_section {
    background-color: #b4d0e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100vw;
    z-index: 1;
}

.under-header_container {
    max-width: 60%;
}

#biggest_title {
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.jumbo_container {
    flex-wrap: nowrap;
    display: flex;
}

.left-side {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 30%;
}

.left-side input,
.left-side span,
.left-side p {
    margin-bottom: 25px;
}

.right-side {
    width: 70%;
}

.fa-arrow-down {
    color: black;
    font-size: 50px;
    margin-top: 60px;
}

/* .white_space {
    width: 100vw;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
} */

/* Fix della foto del client */
.right-side img {
    max-width: 100%;
}

/* Stili per la SECONDA sezione scelta dei piani tariffari */
.businessplan {
    width: 100vw;
}

.businessplan_container {
    max-width: 100%;
}

.sect_title {
    padding: 40px 0px;
    font-size: 35px;
    width: 100%;
}

.businessplan label {
    margin-right: 30px;
    padding-bottom: 40px;
}

.radio-modify {
    margin-right: 5px;
}

.select_plan {
    display: flex;
    width: 100%;
}

/* Colonne con i piani tariffari */
.col_container {
    width: 70%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc((100% / 3) - 20px);
    min-height: 800px;
    border: 1px solid #bfbfd1;
    line-height: 2;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.row {
    border-bottom: 1px solid #bfbfd1;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-user,
.fa-folder,
.fa-share-nodes,
.fa-building,
.fa-users {
    padding-right: 5px;
}

.pack_type,
.content_pack,
.try-or-buy,
.div_space,
.highlights {
    padding: 15px;
}

.content_pack span {
    display: block;
}

.try-or-buy input {
    display: block;
}

.div_space {
    width: 30%;
    margin-left: 15px;
    border-top: 1px solid #bfbfd1;
}

ul {
    list-style: none;
}

ul li:before {
    content: '✓';
    color: #0061ff;
}